@section Scripts {
    <script type="text/javascript" src="~/js/jitsi.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/script.client.js" asp-append-version="true"></script>
}

<h1>Client</h1>
