@section Scripts {
    <script type="text/javascript" src="~/js/jitsi.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/script.videodirector.js" asp-append-version="true"></script>
}

<h1>VideoDirector</h1>
<button id="startButton">Start Button</button>
<button id="stopButton">Stop Button</button>

<div id="videoDiv">
    <video id="video01" poster="~/images/NoInputSignal.jpg" style="width: 300px; height: 200px;" autoplay playsinline muted></video>
</div>